
// header

@media(max-width: 950px) {
    .weather {
        .wrapper {
            margin: 0 20px;
        }
    }
}
@media(max-width: 500px) {
    .today {
        .current { 
            padding: 10px 10px;
        }
    }
}

@media(max-width: 600px) {
    .weather {
        .wrapper {
            .header {
                @include flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 10px;
                .logo {
                    font-size: 16px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                }
                input {
                    border-radius: 20px;
                    width: 250px;
                    height: 30px;
                    padding: 10px;
                    border: none;
                    background-color: rgba(213, 247, 216, 0.801);
               }
            }
        }
    }
    
}

@media(max-width: 650px) {
    .today .hourly .description .forecast .forecast_name {
        width: 133px;
    }
}

@media(max-width: 470px) {
    .weather {
        .wrapper {
            .header {
               input {
                     border-radius: 20px;
                     width: 250px;
                     height: 30px;
                     padding: 10px;
                     border: none;
                     background-color: rgba(213, 247, 216, 0.801);
                }
            }
        }
    }
}

@media(max-width: 460px) {
    .weather {
        .wrapper {
            .header {
                .logo {
                    font-size: 16px;
                    margin-right: 10px;
                }
               .location {
                margin-right: 0px;
               }
            }
        }
    }
}
@media(max-width: 420px) {
    .weather {
        .wrapper {
            margin: 0 5px;
            .header {
                .logo {
                    font-size: 16px;
                    margin-bottom: 10px;
                    margin-right: 20px;
                }
               input {
                border-radius: 20px;
                width: 200px;
                height: 30px;
                padding: 10px;
                border: none;
                background-color: rgba(213, 247, 216, 0.801);
                }
            }
        }
    }
}

// menu

@media(max-width: 450px) {
    .menu {
        padding: 0px 20px;
        .today {
            height: 40px;
            width: 120px;
            font-size: 16px;
            padding: 5px 10px;
        }
        .another {
            height: 40px;
            width: 300px;
            font-size: 16px;
            padding: 5px 10px;
        }
    }
}

// current

@media(max-width: 650px) {
    img {
        width: 50px;
     }
     .today {
        margin: 10px 5px;
        .current {
            .main__block {
                .temp__deg {
                    font-size: 19px;
                }
                .temp__feel {
                    font-size: 14px;
                }
            }
        }
     }
}

@media(max-width: 600px) {
    .weather {
            margin: 0px;
            height: 910px;
        }
    }
    img {
        width: 50px;
     }
     .today {
        .current {
            .main__block {
                padding: 0px 15px;
                .position__descr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
                .temp__deg {
                    font-size: 19px;
                    margin-top: 10px;
                }
                .temp__feel {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
                .day-descr {
                    p {
                        margin-right: 10px;
                    }
                    .sunrise {
                        p {
                            width: 64px;
                            margin-right: 20px;
                        }
                    }
                    .sunset {
                        p {
                            width: 70px;
                            margin-right: 14px;
                        }
                    }
                    .duration {
                        p {
                            width: 70px;
                            margin-right: 14px;
                        }
                    }
                }
            }
        }
     }


@media(max-width: 460px) {
    img {
        width: 40px;
     }
     .today {
        .current {
            .main {
                padding: 0 10px;
                height: 40px;
            }
            .main__block {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                .position__descr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 13px;
                }
                .temp__deg {
                    font-size: 19px;
                    margin-top: 5px;
                }
                .temp__feel {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
                .day-descr {
                    display: flex;
                    
                    p {
                        margin-right: 10px;
                    }
                    .sunrise {
                        margin-right: 10px;
                        p {
                            width: 64px;
                            margin-right: 5px;
                        }
                    }
                    .sunset {
                        margin-right: 10px;
                        p {
                            width: 70px;
                            margin-right: 5px;
                        }
                    }
                    .duration {
                        p {
                            width: 70px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
     }
}

@media(max-width: 380px) {
    img {
        width: 40px;
     }
     .today {
        .current {
            .main {
                padding: 0 20px;
            }
            .main__block {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                .position__descr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 13px;
                }
                .temp__deg {
                    font-size: 19px;
                    margin-top: 5px;
                }
                .temp__feel {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
                .day-descr {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    p {
                        margin-right: 10px;
                    }
                    .sunrise {
                        display: flex;
                        flex-direction: row;
                        margin-right: 20px;
                        p {
                            width: 64px;
                            margin-right: 5px;
                        }
                    }
                    .sunset {
                        display: flex;
                        flex-direction: row;
                        p {
                            width: 70px;
                        }
                    }
                    .duration {
                        display: flex;
                        flex-direction: row;
                        p {
                            width: 90px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
     }
}
            
// hourly

@media(max-width: 760px) {
    .today .hourly .info .hours .time__weather {
        width: 88px;
    }
    .today .hourly .info .hours .time__weather img {
        width: 45px;
    }
}
@media(max-width: 700px) {
   .today .hourly .info .hours .time__weather {
    width: 75px;
    }
    .today .hourly .description .forecast_status {
        width: 29px;
    }
    .today .hourly .description .forecast_status {
        font-size: 11px;
    }
    .today .hourly .description .forecast .forecast_name {
        font-size: 13px;
    }
    .today .hourly .description .temperature_name {
        font-size: 13px;
    }
    .today .hourly .feel_name {
        font-size: 13px;
    }
    .today .hourly .wind_name {
        font-size: 13px;
    }
}

@media(max-width: 650px) {
    .today .hourly .info .hours .time__weather {
        width: 65px;
    }
    .today .hourly .info .hours .time__weather img {
        width: 35px;
    }
    .today .hourly .description .forecast_status {
        width: 16px;
    }
    .today .hourly .description .forecast_status {
        margin-right: 45px;
    }
    .description .forecast .forecast_name {
        width: 0; 
        margin-right: 20px;
    }
    .today .hourly .description .forecast .block {
        max-width: 105%;
    }
}
@media(max-width: 585px) {
    .today .hourly {
        padding: 10px 10px;
    }
    .today .hourly .info .hours .time__weather {
        width: 60px;
    }
    .today .hourly .info .hours .time {
        margin-left: 75px;
    }
    .today .hourly .description .forecast_status {
        margin-right: 37px;
    }
    .today .hourly .description .temperature_degrees {
        font-size: 12px;
    }
    .today .hourly .feel_temp {
        font-size: 12px;
    }
    .today .hourly .feel_temp {
        font-size: 12px;
    }
    .today .hourly .wind_km {
        font-size: 12px;
    }
    .today .hourly .info .hours__name {
        font-size: 13px;
    }
    .today .hourly {
        padding: 10px 20px;
    }
}

@media(max-width: 520px) {
    .today .hourly .info .hours .time__weather {
        width: 50px;
    }
    .today .hourly .description .forecast_status {
        margin-right: 34px;
        width: 12px;
    }
    .today .hourly .description .temperature {
        margin-top: 20px;
    }
    .today .hourly .info .hours .time {
        margin-left: 119px;
    }
}
@media(max-width: 480px) {
    .today .hourly .info .hours .time__weather img {
        width: 30px;
    }
    .today .hourly .info .hours .time {
        margin-left: 79px;
    }
}
@media(max-width: 460px) {
    .today .hourly .info .hours .time__weather {
        width: 45px;
    }
    .today .hourly .info .hours .time__hour {
        font-size: 11px;
    }
    .today .hourly .description .forecast_status {
        margin-right: 34px;
        width: 11px;
    }
    .today .hourly {
        padding: 5px 10px;
    }
}

@media(max-width: 870px) {
    .anothers .days {
        margin: 5px 10px;
    }
    .anothers .days .day {
       margin-right: 0px;
    }
}
@media(max-width: 530px) {
    .anothers {
        height: 450px;
    }
    .anothers .days {
       display: flex;
       flex-wrap: wrap;
    }
    .anothers .days .day {
       width: 345px;
       height: 70px;
    }
    .anothers .days .day img {
        width: 45px;
        margin-bottom: 7px;
    }
    .anothers .days .day:last-child img {
        width: 45px;
        margin-bottom: 15px;
    }
}


// hourly

@media(max-width:830px) {
    .weather-block .anothers .hourly .info .hours .time__weather img {
        width: 40px;
        margin-top: 0px;
    }
}
@media(max-width:750px) {
    .weather-block .anothers .hourly .info .hours .time__weather {
        width: 87px;
        height: 68px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 161px;
    }
    .weather-block .anothers .hourly .description .forecast_status {
        width: 35px;
    }
}

@media(max-width:770px) {
    .weather-block .anothers .hourly .info .hours .time__weather {
        width: 70px;
    }
    .anothers .hourly .description .forecast_status {
        margin-right: 40px;
        width: 23px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 21px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 34px;
    }
    .anothers .hourly .description .forecast_status {
        margin-right: 40px;
        font-size: 11px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        font-size: 13px;
        margin-right: 80px;
    }
    .anothers .hourly .description .temperature_name {
        font-size: 13px;
    }
    .anothers .hourly .wind_name {
        font-size: 13px;
    }
    .anothers .hourly .description .forecast_status {
        margin-right: 42px;
        font-size: 11px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 109px;
    }
}
@media(max-width:600px) {
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 80px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 120px;
    }
    .weather-block .anothers .hourly .description .forecast_status {
        width: 23px;
    }
    .weather-block .anothers .hourly .info .hours .time__weather {
        width: 65px;
    }
}
@media(max-width:550px) {
    h3 {
        font-size: 16px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 85px;
    }
    .weather-block .anothers .hourly .info .hours .time__weather img {
        width: 30px;
    }
    .weather-block .anothers .hourly .info .hours .time__weather {
        width: 50px;
    }
    .anothers .hourly .feel_name {
        font-size: 12px;
    }
    .anothers .hourly .wind_name {
        font-size: 12px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 24px;
    }
    .anothers .hourly .description .forecast_status {
        margin-right: 30px;
        font-size: 11px;
    }
    .weather-block .anothers .hourly .description .forecast_name {
        margin-right: 86px;
    }
}

@media(max-width:500px) {
    .anothers .hourly .info .hours__data {
        height: 0px;
        font-size: 13px;
        font-weight: bold;
    }
    .weather-block .anothers .hourly .info .hours .time__weather {
        width: 45px;
    }
    .weather-block .anothers .hourly {
        padding: 5px 20px;
    }
    .anothers .hourly .description .forecast_status {
        margin-right: 20px;
        font-size: 11px;
    }
    .weather-block .anothers .hourly {
        padding: 5px 10px;
    }
    .weather-block .anothers .hourly .description .forecast_name {margin-right: 81px;
    }
    .anothers .hourly .description .temperature_degrees {
        font-size: 12px;
    }
    .anothers .hourly .feel_temp {
        font-size: 12px;
    }
    .anothers .hourly .wind_km {
        font-size: 12px;
    }
    .weather-block .anothers .hourly .info {
        max-width: 90%;
    }
    .anothers .hourly .description .forecast {
        justify-content: flex-start;
    }
    .weather-block .anothers .hourly .info .hours .time__hour {
        font-size: 12px;
    }
    .anothers .hourly .description .forecast_status {
        margin-right: 20px;
        font-size: 10px;
    }
}

@media(max-width: 600px) {
    .anothers .days .day__status {
        font-size: 11px;
    }
}
@media(max-width: 530px) {
    .anothers .days .day:last-child img {
        width: 45px;
        margin-bottom: 10px;
    }
}