.today {
    max-width: 800px;
    height: 800px;
    margin: 20px auto;
    .current {
        max-width: 100%;
        background-color: rgb(194, 240, 197);
        border-radius: 20px;
        .main {
            @include flex;
            justify-content: space-between;
            height: 50px;
            padding: 0 20px;
        }
        .main__block {
            @include flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 50px;
            .position {
                @include flex;
                flex-direction: column;
                &__descr {
                    margin-top: 20px
                }
            }
            .temp {
                @include flex;
                flex-direction: column;
                &__deg {
                    font-size: 30px;
                    margin-bottom: 10px;
                }
            }
            .day-descr {
                font-size: 12px;
                margin-bottom: 5px;
                p {
                    margin-right: 30px
                }
                .sunrise {
                    @include flex;
                    justify-content: flex-start;
                    p {
                        width: 80px;
                    }
                }
                .sunset {
                    @include flex;
                    justify-content: flex-start;
                    p {
                        width: 80px;
                    }
                }
                .duration{
                    @include flex;
                    justify-content: flex-start;
                    p {
                        width: 80px;
                    }
                }
            }
        }
    }
    .hourly {
        margin-top: 20px;
        width: 100%;
        background-color: rgb(194, 240, 197);
        padding: 15px 20px;
        border-radius: 20px;
       .info {
         .hours {
            &__name {
                height:0px;
                font-size: 15px;
            }
            .time {
                @include flex;
                margin-left: 160px;
                &__weather {
                    @include flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100px;
                }
                &__weather img{
                    width: 50px;
                    margin-top: 30px;
                }
                &__hour {
                    margin-right: 90px;
                    font-size: 13px;
                }
            }
         }
       }
       .description {
        margin-top: 10px;
            .forecast {
            @include flex;
                .block {
                    @include flex;
                    margin-left: 60px;
                }
                &_name {
                    margin-right: 20px;
                    margin-left: 20px;
                    font-size: 15px;
                }
                &_status {
                    margin-right: 50px;
                    font-size: 13px;
                    width: 50px;
                    @include flex;
                }
            }
            .temperature {
                margin-top: 30px;
                &_name {
                    height: 0px;
                    width: 70px;
                    font-size: 15px;
                }
                .block {
                    @include flex;
                    margin-left: 105px;
                }
                &_degrees {
                    width: 100px;
                    @include flex;
                    font-size: 14px;
                }
                &_degrees--last {
                    width: 70px;
                }
            }
        }
        .feel {
            &_name {
                height: 0px;
                width: 70px;
                font-size: 15px;
            }
            .block {
                @include flex;
                margin-left: 105px;
            }
            &_temp {
                width: 100px;
                @include flex;
                font-size: 14px;
            }
        }
        .wind {
            &_name {
                height: 0px;
                width: 90px;
                font-size: 15px;
            }
            .block {
                @include flex;
                margin-left: 105px;
            }
            &_km {
                width: 100px;
                @include flex;
                font-size: 14px;
            }
        }
    }
    .nearby-places {
            min-height: 20px;
            background-color: aliceblue;
            margin-top: 10px;
            border-radius: 20px;
            background-color: rgb(194, 240, 197);
            padding: 20px;
            &__name {
                font-weight: bold;
            }
        .block {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            @include flex;
            margin-top: 10px;
        }
        .city {
            width: 350px;
            @include flex;
            justify-content: space-between;
            height: 35px;
            padding: 10px 30px;
            margin: 5px 5px;
            font-size: 14px;
            border-radius: 20px;
            background-color: rgba(116, 168, 118, 0.603);
            &__name {
                width: 120px;
                font-size: 14px;
            }
            &__temperature {
                font-size: 13px;
            }
            img {
                width: 25px;
            }
        }
    }
}

.weather-block {
    .anothers {
        .hourly {
            padding: 10px 20px;
            .info {
                .hours {
                    &__name {
                        height:0px;
                        font-size: 15px;
                    }
                .time {
                    @include flex;
                    margin-left: 160px;
                    &__weather {
                        @include flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 100px;
                        height: 80px;
                    }
                    &__weather img{
                        width: 50px;
                        margin-top: 10px;
                    }
                    &__hour {
                        margin-right: 90px;
                        font-size: 13px;
                        }
                    }
                }
            }
            .description  {
                margin-top: 15px;
            }
        }
    }
}